// Flex Center
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  // Responsive Breakpoints
  @mixin responsive($breakpoint) {
    @if $breakpoint == mobile {
      @media (max-width: 767px) {
        @content;
      }
    } @else if $breakpoint == tablet {
      @media (max-width: 1024px) {
        @content;
      }
    } @else if $breakpoint == desktop {
      @media (min-width: 1025px) {
        @content;
      }
    }
  }
  