// SCSS Variables
$primary-color: #00a05d;
$secondary-color: #005d3c;
$number-color:#87b41f;
$background-light: #f8f9fa;
$background-color1: #e4f0ff;
$text-color: #333333;
$font-family: 'Arial, sans-serif';
$transition-speed: 0.3s;
